# Question 1 wikipedia

In [41]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [42]:
url = 'https://en.wikipedia.org/wiki/Main_Page'
response = requests.get(url)

In [43]:
soup = BeautifulSoup(response.text, 'html.parser')

In [44]:
header_tags = []
for tag in range(1, 7):
    headers = soup.find_all('h{}'.format(tag))
    for header in headers:
        header_tags.append(header.text)

In [45]:
header_df = pd.DataFrame(header_tags, columns=['Header'])
print(header_df)

                           Header
0                       Main Page
1            Welcome to Wikipedia
2   From today's featured article
3                Did you know ...
4                     In the news
5                     On this day
6      From today's featured list
7        Today's featured picture
8        Other areas of Wikipedia
9     Wikipedia's sister projects
10            Wikipedia languages

# Question 2 imdb top rated movie

In [46]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [47]:
url = 'https://www.imdb.com/chart/top'

In [48]:
response = requests.get(url)

In [49]:
soup = BeautifulSoup(response.text, 'html.parser')

In [50]:
movies = soup.select('td.titleColumn')
ratings = soup.select('td.ratingColumn.imdbRating')
movie_data = []

In [51]:
for i in range(len(movies)):
    name = movies[i].find('a').text
    year = movies[i].find('span').text.strip('()')
    rating = ratings[i].text.strip()
    movie_data.append({'Name': name, 'Year': year, 'Rating': rating})

In [52]:
movie_df = pd.DataFrame(movie_data)
print(movie_df.head(50))

                                                 Name  Year Rating
0                            The Shawshank Redemption  1994    9.2
1                                       The Godfather  1972    9.2
2                                     The Dark Knight  2008    9.0
3                               The Godfather Part II  1974    9.0
4                                        12 Angry Men  1957    9.0
5                                    Schindler's List  1993    8.9
6       The Lord of the Rings: The Return of the King  2003    8.9
7                                        Pulp Fiction  1994    8.8
8   The Lord of the Rings: The Fellowship of the Ring  2001    8.8
9                     Il buono, il brutto, il cattivo  1966    8.8
10                                       Forrest Gump  1994    8.8
11                                         Fight Club  1999    8.7
12              The Lord of the Rings: The Two Towers  2002    8.7
13                                          Inception  2010    8.7
14                            The Empire Strikes Back  1980    8.7
15                                         The Matrix  1999    8.7
16                                         GoodFellas  1990    8.7
17                    One Flew Over the Cuckoo's Nest  1975    8.6
18                                              Se7en  1995    8.6
19                               Shichinin no samurai  1954    8.6
20                              It's a Wonderful Life  1946    8.6
21                           The Silence of the Lambs  1991    8.6
22                                Saving Private Ryan  1998    8.6
23                                     Cidade de Deus  2002    8.6
24                                       Interstellar  2014    8.6
25                                    La vita è bella  1997    8.6
26                                     The Green Mile  1999    8.6
27                                          Star Wars  1977    8.5
28                         Terminator 2: Judgment Day  1991    8.5
29                                 Back to the Future  1985    8.5
30                      Sen to Chihiro no kamikakushi  2001    8.5
31                                        The Pianist  2002    8.5
32                                             Psycho  1960    8.5
33                                       Gisaengchung  2019    8.5
34                                               Léon  1994    8.5
35                                      The Lion King  1994    8.5
36                                          Gladiator  2000    8.5
37                                 American History X  1998    8.5
38                                       The Departed  2006    8.5
39                                 The Usual Suspects  1995    8.5
40                                       The Prestige  2006    8.5
41                                           Whiplash  2014    8.5
42                                         Casablanca  1942    8.5
43                                     Hotaru no haka  1988    8.5
44                                            Seppuku  1962    8.5
45                                   The Intouchables  2011    8.5
46                                       Modern Times  1936    8.4
47                       Once Upon a Time in the West  1968    8.4
48                                        Rear Window  1954    8.4
49                              Nuovo Cinema Paradiso  1988    8.4

# Question 3 indian movie

In [53]:
import requests
from bs4 import BeautifulSoup
import pandas as pd


url = 'https://www.imdb.com/india/top-rated-indian-movies/'
response = requests.get(url)


soup = BeautifulSoup(response.text, 'html.parser')


table = soup.find('tbody', {'class': 'lister-list'})


names = []
ratings = []
years = []


for row in table.find_all('tr'):

    name = row.find('td', {'class': 'titleColumn'}).find('a').text
    names.append(name)
    
    
    rating = row.find('td', {'class': 'ratingColumn'}).find('strong').text
    ratings.append(float(rating))
    
    
    year = row.find('td', {'class': 'titleColumn'}).find('span', {'class': 'secondaryInfo'}).text
    years.append(year.strip('()'))


df = pd.DataFrame({'Name': names, 'Rating': ratings, 'Year': years})


print(df.head(50))

                                   Name  Rating  Year
0   Ramayana: The Legend of Prince Rama     8.5  1993
1            Rocketry: The Nambi Effect     8.4  2022
2                               Nayakan     8.4  1987
3                              Gol Maal     8.4  1979
4                            Anbe Sivam     8.4  2003
5                           777 Charlie     8.4  2022
6                              Jai Bhim     8.4  2021
7                     Pariyerum Perumal     8.4  2018
8                              3 Idiots     8.4  2009
9                           Apur Sansar     8.4  1959
10                     Manichitrathazhu     8.3  1993
11                                #Home     8.3  2021
12                      Soorarai Pottru     8.3  2020
13                         Black Friday     8.3  2004
14                    Kumbalangi Nights     8.3  2019
15                    C/o Kancharapalem     8.3  2018
16                     Taare Zameen Par     8.3  2007
17                             Kireedam     8.3  1989
18                               Dangal     8.3  2016
19                               Kaithi     8.3  2019
20                               Jersey     8.3  2019
21                                   96     8.3  2018
22                          Maya Bazaar     8.2  1957
23                            Natsamrat     8.2  2016
24                               Asuran     8.2  2019
25                           Drishyam 2     8.2  2021
26                           Sita Ramam     8.2  2022
27                         Thevar Magan     8.2  1992
28                           Visaaranai     8.2  2015
29                  Sarpatta Parambarai     8.2  2021
30                           Thalapathi     8.2  1991
31                      Pather Panchali     8.2  1955
32                         Nadodikkattu     8.2  1987
33                             Drishyam     8.2  2013
34                   Jaane Bhi Do Yaaro     8.2  1983
35                         Thani Oruvan     8.2  2015
36                         Sardar Udham     8.2  2021
37                            Aparajito     8.2  1956
38                         Vada Chennai     8.2  2018
39                    Khosla Ka Ghosla!     8.2  2006
40                              Anniyan     8.1  2005
41                             Ratsasan     8.1  2018
42                        Chupke Chupke     8.1  1975
43                   Gangs of Wasseypur     8.1  2012
44                              Peranbu     8.1  2018
45                             Drishyam     8.1  2015
46                             Mahanati     8.1  2018
47                       Bangalore Days     8.1  2014
48                                Satya     8.1  1998
49                               Premam     8.1  2015

# question 4

In [54]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = 'https://presidentofindia.nic.in/former-presidents.htm'
response = requests.get(url)
print(response)

soup = BeautifulSoup(response.text, 'html.parser')

table = soup.find('ul', {'class': 'listing cf'})

names = []
terms = []

for row in table.findAll('li') :
    name = row.find('h3').text
    finalName = name.split("(")[0].strip()
    names.append(finalName)

    termOfOffice = row.find('p').text
    termOfOfficeFinal = termOfOffice.replace("Term of Office: ", "")
    terms.append(termOfOfficeFinal)

df = pd.DataFrame({'President Name': names, 'Term of Office': terms})
print(df.head(10))

<Response [200]>
                 President Name                        Term of Office
0          Shri Ram Nath Kovind       25 July, 2017 to 25 July, 2022
1         Shri Pranab Mukherjee       25 July, 2012 to 25 July, 2017
2  Smt Pratibha Devisingh Patil       25 July, 2007 to 25 July, 2012
3        DR. A.P.J. Abdul Kalam       25 July, 2002 to 25 July, 2007
4          Shri K. R. Narayanan       25 July, 1997 to 25 July, 2002
5       Dr Shankar Dayal Sharma       25 July, 1992 to 25 July, 1997
6           Shri R Venkataraman       25 July, 1987 to 25 July, 1992
7              Giani Zail Singh       25 July, 1982 to 25 July, 1987
8     Shri Neelam Sanjiva Reddy       25 July, 1977 to 25 July, 1982
9      Dr. Fakhruddin Ali Ahmed  24 August, 1974 to 11 February, 1977

# question 5

In [55]:
#A
import requests
from bs4 import BeautifulSoup
import pandas as pd


url = 'https://www.icc-cricket.com/rankings/mens/team-rankings/odi'
response = requests.get(url)

soup = BeautifulSoup(response.text, 'html.parser')

table = soup.find('table', {'class': 'table'})

rows = table.find_all('tr')

teams = []
matches = []
points = []
ratings = []


for row in rows[1:11]:

    team = row.find_all('td')[1].text.strip()
    teams.append(team)
    
    
    match = row.find_all('td')[2].text.strip()
    matches.append(match)
    
    
    point = row.find_all('td')[3].text.strip()
    points.append(point)

    rating = row.find_all('td')[4].text.strip()
    ratings.append(rating)
df = pd.DataFrame({'Team': teams, 'Matches': matches, 'Points': points, 'Rating': ratings})

print(df)

               Team Matches Points Rating
0        India\nIND      44  5,010    114
1    Australia\nAUS      32  3,572    112
2   New Zealand\nNZ      29  3,229    111
3      England\nENG      33  3,656    111
4     Pakistan\nPAK      25  2,649    106
5  South Africa\nSA      27  2,775    103
6   Bangladesh\nBAN      33  3,129     95
7     Sri Lanka\nSL      34  2,976     88
8  Afghanistan\nAFG      20  1,419     71
9   West Indies\nWI      41  2,902     71

# b

In [56]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting'

response = requests.get(url)

soup = BeautifulSoup(response.text, 'html.parser')

batsmen = []
teams = []
ratings = []

for row in soup.select('tr.table-body'):
    cells = row.select('td')
    batsman = cells[1].get_text().strip()
    team = cells[2].get_text().strip()
    rating = cells[3].get_text().strip() 
    batsmen.append(batsman)
    teams.append(team)
    ratings.append(rating)

data = {'Batsman': batsmen, 'Team': teams, 'Rating': ratings}

df = pd.DataFrame(data)
df = df.head(10)

print(df)

                 Batsman Team Rating
0  Rassie van der Dussen   SA    787
1           David Warner  AUS    747
2        Quinton de Kock   SA    743
3            Imam-ul-Haq  PAK    740
4           Shubman Gill  IND    734
5            Virat Kohli  IND    727
6            Steve Smith  AUS    719
7           Rohit Sharma  IND    719
8        Kane Williamson   NZ    700
9           Fakhar Zaman  PAK    699

In [57]:
#c
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling'

response = requests.get(url)

soup = BeautifulSoup(response.text, 'html.parser')

bowlers = []
teams = []
ratings = []

for row in soup.select('tr.table-body'):
    cells = row.select('td')
    bowler = cells[1].get_text().strip()
    team = cells[2].get_text().strip()
    rating = cells[3].get_text().strip()
    bowlers.append(bowler)
    teams.append(team)
    ratings.append(rating)

data = {'Bowler': bowlers, 'Team': teams, 'Rating': ratings}

df = pd.DataFrame(data)
df = df.head(10)

print(df)

              Bowler Team Rating
0     Josh Hazlewood  AUS    727
1        Trent Boult   NZ    708
2     Mitchell Starc  AUS    665
3        Rashid Khan  AFG    659
4         Adam Zampa  AUS    655
5    Shakib Al Hasan  BAN    652
6     Shaheen Afridi  PAK    641
7  Mustafizur Rahman  BAN    638
8   Mujeeb Ur Rahman  AFG    637
9      Mohammad Nabi  AFG    631

# Question 6

In [58]:
#a
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = 'https://www.icc-cricket.com/rankings/womens/team-rankings/odi'
response = requests.get(url)

soup = BeautifulSoup(response.text, 'html.parser')

table = soup.find('table', {'class': 'table'})

rows = table.find_all('tr')

teams = []
matches = []
points = []
ratings = []


for row in rows[1:11]:

    team = row.find_all('td')[1].text.strip()
    teams.append(team)
    
    
    match = row.find_all('td')[2].text.strip()
    matches.append(match)
    
    
    point = row.find_all('td')[3].text.strip()
    points.append(point)
    
    
    rating = row.find_all('td')[4].text.strip()
    ratings.append(rating)


df = pd.DataFrame({'Team': teams, 'Matches': matches, 'Points': points, 'Rating': ratings})

print(df)

               Team Matches Points Rating
0    Australia\nAUS      21  3,603    172
1      England\nENG      28  3,342    119
2  South Africa\nSA      26  3,098    119
3        India\nIND      27  2,820    104
4   New Zealand\nNZ      25  2,553    102
5   West Indies\nWI      27  2,535     94
6   Bangladesh\nBAN      13    983     76
7     Thailand\nTHA       8    572     72
8     Pakistan\nPAK      27  1,678     62
9     Sri Lanka\nSL       8    353     44

#b

In [59]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting"
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

table = soup.find_all('table')[0]

df = pd.read_html(str(table))[0]

df = df.head(10)[['Pos', 'Player', 'Team', 'Rating']]
df.columns = ['Position', 'Player', 'Team', 'Rating']

print(df)

                                            Position               Player  \
0                                             1  (0)         Alyssa Healy
1                                             2  (0)          Beth Mooney
2                                             3  (0)      Laura Wolvaardt
3                                             4  (0)       Natalie Sciver
4  5  (2) This player has moved up in the ranking...          Meg Lanning
5  6  (1) This player has moved down in the ranki...     Harmanpreet Kaur
6  7  (1) This player has moved down in the ranki...      Smriti Mandhana
7                                             8  (0)       Rachael Haynes
8                                             9  (0)  Chamari Athapaththu
9                                            10  (0)    Amy Satterthwaite

  Team  Rating
0  AUS     762
1  AUS     754
2   SA     732
3  ENG     731
4  AUS     717
5  IND     716
6  IND     714
7  AUS     680
8   SL     655
9   NZ     641

#c

In [60]:

import pandas as pd
import requests
from bs4 import BeautifulSoup

url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder"
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

table = soup.find_all('table')[0]

df = pd.read_html(str(table))[0]

df = df.head(10)[['Pos', 'Player', 'Team', 'Rating']]
df.columns = ['Position', 'Player', 'Team', 'Rating']

print(df)

  Position            Player Team  Rating
0   1  (0)   Hayley Matthews   WI     373
1   2  (0)    Natalie Sciver  ENG     371
2   3  (0)      Ellyse Perry  AUS     366
3   4  (0)    Marizanne Kapp   SA     349
4   5  (0)       Amelia Kerr   NZ     336
5   6  (0)     Deepti Sharma  IND     322
6   7  (0)  Ashleigh Gardner  AUS     292
7   8  (0)     Jess Jonassen  AUS     250
8   9  (0)          Nida Dar  PAK     232
9  10  (0)    Jhulan Goswami  IND     214

 # question 7

In [61]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

url = "https://www.cnbc.com/world/?region=world"
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

articles = soup.find_all('div', class_='Card-titleContainer')
headlines = [article.find('a').text.strip() for article in articles]

times = []
links = []
for article in articles:
    try:
        time = article.find('time')['datetime']
    except (KeyError, TypeError):
        time = None
    try:
        link = article.find('a')['href']
    except (KeyError, TypeError):
        link = None
    times.append(time)
    links.append(link)

df = pd.DataFrame({'Headline': headlines, 'Time': times, 'Link': links})

print(df)

                                             Headline  Time  \
0   Stocks making the biggest moves after hours: D...  None
1   Stock futures slip Thursday night as inflation...  None
2   Dow closes 400 points lower as hot inflation r...  None
3   India is a true bright spot in the midst of a ...  None
4   Belarus' exiled opposition leader says trial h...  None
5   “I wouldn’t change my past if you gave me a tr...  None
6   Larry Summers says another Covid-scale problem...  None
7   Summers: 'Greatest tragedy' would be if centra...  None
8   Shell’s board of directors sued over climate s...  None
9   Bill Gates on why he'll carry on using private...  None
10  Why hydrogen made using nuclear may have a big...  None
11  'Greenwashing' is a good thing, according to o...  None
12  Concerns over golden eagles are partly prompti...  None
13  Supreme Court cancels arguments on Trump immig...  None
14  Biden says recently downed aerial objects were...  None
15  FDA advisors recommend over-the-counter use of...  None
16  Moderna's CEO will testify before Senate next ...  None
17  Biden outlines plans to cut U.S. deficit by $2...  None
18  Seen Big Ben already? Here's a Londoner's guid...  None
19  Shut out from their top destinations, Chinese ...  None
20  What do Chinese travelers want? Luxury 'star-r...  None
21  These are the best hotels in the U.S. and Euro...  None
22  Luxury brand Six Senses is opening its first h...  None
23  Charlie Munger: Cryptocurrency is 'stupid gamb...  None
24  How a real estate broker with a tennis side hu...  None
25  'Not too devastated': Why some laid-off worker...  None
26  Minimum wages are going up, but typical worker...  None
27  Why some young people are opting for 'human co...  None

                                                 Link
0   https://www.cnbc.com/2023/02/16/stocks-moving-...
1   https://www.cnbc.com/2023/02/16/stock-market-t...
2   https://www.cnbc.com/2023/02/15/stock-market-t...
3   https://www.cnbc.com/2023/01/27/india-is-a-tru...
4   https://www.cnbc.com/2023/01/20/belarus-sviatl...
5   https://www.cnbc.com/2023/01/20/i-wouldnt-chan...
6   https://www.cnbc.com/2023/01/20/covid-scale-pr...
7   https://www.cnbc.com/2023/01/20/summers-greate...
8   https://www.cnbc.com/2023/02/09/oil-shell-boar...
9   https://www.cnbc.com/2023/02/07/private-jet-us...
10  https://www.cnbc.com/2023/02/03/why-pink-hydro...
11  https://www.cnbc.com/2023/02/02/greenwashing-i...
12  https://www.cnbc.com/2023/02/01/concerns-over-...
13  https://www.cnbc.com/2023/02/16/supreme-court-...
14  https://www.cnbc.com/2023/02/16/china-spy-ball...
15  https://www.cnbc.com/2023/02/15/opioid-overdos...
16  https://www.cnbc.com/2023/02/15/moderna-ceo-ba...
17  https://www.cnbc.com/2023/02/15/watch-live-bid...
18  https://www.cnbc.com/2023/02/15/what-are-the-b...
19  https://www.cnbc.com/2023/02/14/where-are-chin...
20  https://www.cnbc.com/2023/02/10/chinese-travel...
21  https://www.cnbc.com/2023/02/09/what-are-the-b...
22  https://www.cnbc.com/2023/02/08/six-senses-is-...
23  https://www.cnbc.com/2023/02/16/billionaire-ch...
24  https://www.cnbc.com/2023/02/16/real-estate-br...
25  https://www.cnbc.com/2023/02/16/why-some-young...
26  https://www.cnbc.com/2023/02/16/minimum-wage-m...
27  https://www.cnbc.com/2023/02/16/what-is-human-...

# question 8

In [115]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles"
response = requests.get(url)

soup = BeautifulSoup(response.content, "html.parser")

articles = soup.find_all("div", class_="pod-listing-header")

data = []
for article in articles:
    title = article.find("a").text
    authors = article.find("div", class_="text-xs").text.strip()
    date = article.find("div", class_="text-xs").find_next("div", class_="text-xs").text.strip()
    link = article.find("a")["href"]
    data.append((title, authors, date, link))

df = pd.DataFrame(data, columns=["Paper Title", "Authors", "Published Date", "Paper URL"])
print(df)

Empty DataFrame
Columns: [Paper Title, Authors, Published Date, Paper URL]
Index: []

# Question 9

In [114]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Make a request
url = 'https://www.dineout.co.in/delhi-restaurants/buffet-special'
response = requests.get(url)

# Parse the content
soup = BeautifulSoup(response.content, 'html.parser')

# Find all the restaurant cards
restaurant_cards = soup.find_all('div', class_='restnt-card')

# Initialize lists to store the extracted details
names = []
cuisines = []
locations = []
ratings = []
image_urls = []

# Loop through each restaurant card and extract the required details
for card in restaurant_cards:
    name = card.find('h3', class_='restnt-name ellipsis')
    names.append(name.text if name else '')
    
    cuisine = card.find('p', class_='restnt-cuisine ellipsis')
    cuisines.append(cuisine.text if cuisine else '')
    
    location = card.find('p', class_='restnt-loc ellipsis')
    locations.append(location.text if location else '')
    
    rating = card.find('span', class_='restnt-rating')
    ratings.append(rating.text if rating else '')
    
    image_wrapper = card.find('div', class_='img-wrapper')
    image_url = image_wrapper.find('img')['src'] if image_wrapper else ''
    image_urls.append(image_url)

# Create a DataFrame with the extracted details
df = pd.DataFrame({
    'Name': names,
    'Cuisine': cuisines,
    'Location': locations,
    'Rating': ratings,
    'Image URL': image_urls
})

# Print the DataFrame
print(df)

  Name Cuisine Location Rating Image URL
0
1
2
3
4
5
6
7
8